main{
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap:30px ;
    justify-content: center;
    margin:100px  ;

}
main img{
    object-fit: cover;
    height: 290px;
}